# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Braille Machine\RpiProgram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
